
@font-face {
    font-family: 'FiraGO';
    src: url('../public/fonts/FiraGO-Book.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
}
*{
    font-family: 'FiraGO' !important;
}
body{
    margin:0;
    padding:0;
    width:1920px;
    overflow-x:hidden;
    
}
.header {
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    padding: 38px 162px; 
    gap: 10px; 
    width:100%;
    height: 100px; 
    background: #FFFFFF; 
    border: 1px solid #DBDBDB; 
    background-color: #f9f9f9;
  }

.container{
    padding-left:162px; 
    padding-right:162px;
    padding-top: 77px;
}



.filters-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 1596px;
    height: 47px;
    
}

.filters {
    box-sizing: border-box; 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    gap: 24px;
    width: 785px;
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
}

.filter-item {
    background:none;
    border:none;
    cursor:pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 14px;
    gap: 4px;
    border-radius:6px;
    transition:.3s;
}

.filter-item:hover{
    background: #F3F3F3;
}

.filter-label {
   
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #021526;
}


.filter-icon {
    width: 14px;
    height: 14px;
}


.actions-container {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 16px;
    width: 449px;
    height: 47px;
}


.action-button {
    cursor:pointer;
    background:none;
    border:none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 2px;
    height: 47px;
    border-radius: 10px;
    color: #FFFFFF;
}


.add-listing {
    background: #F93B1D;
    width: 230px;
}


.add-agent {
    border: 1px solid #F93B1D;
  
    color: #F93B1D;
    width: 203px;
}


.action-icon-plus {
    width: 22px;
    height: 22px;
}


.action-label {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}


/* Region Filter Container*/

/* Region Filter Container */
.region-filter-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 32px;
  position: absolute;
  width: 731px;
  height: 284px;
  left: 162px;
  top: 234px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-shadow: 5px 5px 12px rgba(2, 21, 38, 0.08);
  border-radius: 10px;
}

/* Filter Section */
.filter-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 679px;
  height: 171px;
}

/* Region Title */
.region-title {
  width: 679px;
  height: 19px;
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #021526;
}

/* Region Checkbox Container */
.region-checkbox-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-start;
  padding: 0px;
  gap: 16px 50px;
  width: 679px;
  height: 128px;
}

/* Checkbox Label */
.checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 191px;
  height: 20px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.region-name {
  width: 163px;
  height: 17px;
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #021526;
}


.region-cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 24px;
  width: 683px;
  height: 33px;
}

.region-cta-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 14px;
  width: 77px;
  height: 33px;
  background: #F93B1D;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: none;
  cursor: pointer;
}

/* Card */
.card {
  cursor:pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 384px;
  height: 455px;
  filter: drop-shadow(5px 5px 12px rgba(2, 21, 38, 0.08));
  padding: 0;
}

/* Image */
.card .image {
  width: 100%;
  height: 307px;
  background: url('https://i0.wp.com/picjumbo.com/wp-content/uploads/camping-on-top-of-the-mountain-during-sunset-free-photo.jpg?w=600&quality=80');
  border-radius: 14px 14px 0 0;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

.card .frame-43 {
  box-sizing:border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 22px 25px;
  gap: 20px;
  width: 100%;
  height: 148px;
  background: #FFFFFF;
  border: 0 1px 1px 1px solid #DBDBDB;
  border-radius: 0 0 14px 14px;
}

/* Price and Location Details */
.card .frame-56 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 334px;
}

.card .price {
  font-family: 'FiraGO', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #021526;
}

.card .location-details {
  display: flex;
  align-items: center;
  color: rgba(2, 21, 38, 0.7);
}

/* Details Frame */
.card .details-frame {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 214px;
}


.card .bed-info, .card .area-info, .card .additional-info {
  display: flex;
  align-items: center;
}

.card .bed-info, .card .area-info {
  width: fit-content;
}

.card .bed-icon, .card .area-icon, .card .additional-icon {
  width: 24px;
  height: 24px;
}

.card .bed-count, .card .area-value, .card .additional-value {
  font-family: 'FiraGO', sans-serif;
  font-size: 16px;
  color: rgba(2, 21, 38, 0.7);
}

.card .area-subvalue {
  font-size: 10px;
  color: rgba(2, 21, 38, 0.7);
  vertical-align: super; 
}

/* Tag */
.card .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 90px;
  height: 26px;
  left: 23px;
  top: 23px;
  background: rgba(2, 21, 38, 0.5);
  border-radius: 15px;
  z-index: 2;
}

.card .tag-text {
  font-family: 'FiraGO', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.04em;
}

.cards-layout{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
  padding-bottom:300px;
  margin-top:50px;
}


/* The Modal (background) */
.modal {
  display: block; /* Display modal when state is true */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  z-index: 1;
  
}

/* Modal Overlay (blurred background) */
.modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  backdrop-filter: blur(4px); /* Apply blur to the background */
  z-index: -1; /* Place behind the modal content */
}

/* Modal Content */
.modal-content {
  border-radius:10px;
  box-sizing:border-box;
  position: relative;
  z-index: 2; /* Sit on top */
  background-color: #ffffff;
  margin: auto;
  border: 1px solid #feecec;
  width: 1009px;
  height:784px;   
  margin:0 auto;
  top: calc(50% - 784px/2);

  margin:0 auto;
  overflow:hidden;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.add-agent-form{
  box-sizing:border-box;
  display: flex;
  padding: 0px;
  gap: 28px;
  
  position: absolute;
  width: 799px;
  height: 370px;
  left: calc(50% - 799px/2);
  top: 186px;

  background:red;
  
}

.add-agent-modal-header{
  position: absolute;
width: 294px;
height: 38px;
left: calc(50% - 294px/2 + 0.5px);
top: 87px;

font-family: 'FiraGO';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 38px;
margin:0px;
color: #021526;

}



